{% load staticfiles %}
<!DOCTYPE html">
<html> 
    <head>
        <title>weave</title>
        <style type="text/css" media="screen"> 
            	html, body  { height:100%; }
		body { 
			margin:0; 
			padding:0; 
			overflow:auto; 
			text-align:center; 
			background-color: #7B96B6; 
			{%if height%} height: {{height}}px{%endif%};
			{%if width%} width: {{width}}px{%endif%};
		}   
		
            	object:focus { outline:none;}
		#flashContent { display:none;}

		#no-flash{
			padding:20px;
			background:#f8f8f8;
			height:500px;

		}

		#no-flash p{
			width:500px;
			margin:0 auto;
			line-height:25px;
			font-size:20px;
			padding:10px 0px;
			text-align:center;
			color:#555555;
		}
		#no-flash p#message{
			margin-top:150px;
		}


		h1.title{
			background:#efefef;
			width:100%;
		}
        </style>
        
    	{#% if dh_refered %#}
	<link rel="stylesheet" href="{% static 'css/dh-weave.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
	{#% endif %#}
	<link rel="stylesheet" href="{% static 'stylesheets/atooltip.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="{{weave_root}}swfobject.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dh-weave.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascripts/jquery.atooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ObjTree.js' %}"></script>	
	{{ analytics_tracking_code|safe }}
	<script type="text/javascript">
		var weaveReady = function(myWeave) {
			DHWEAVE.setWeaveObj(myWeave);
			DHWEAVE.Settings.baseUrl = "http://{{host}}/";
			{% if client_config %}
				DHWEAVE.loadClientConfig({{client_config}});
			{% endif %}	
			{% if dh_refered and editable %}{# TODO: hardcoded accounts url :( #}
			$.getJSON("/accounts/ilist/list/", function(data){

				if(data.hasOwnProperty('user_ilists')){
					if(!$.isEmptyObject(data['user_ilists'])){
						DHWEAVE.updateSessionDataSources('Your iLists', data['user_ilists']);
					}
				}
				if(data.hasOwnProperty('default_ilists')){
					DHWEAVE.updateSessionDataSources('Default iLists', data['default_ilists']);
				}


					
			});
			{% endif %}
			var weave = document.getElementById('weave');

			DHWEAVE.getAPIReady();

		}
		var fHeight = 0;
		var weaveToolsHeight = 78;
		var swfVersionStr = "10.2.0";
		var xiSwfUrlStr = "{{weave_root}}playerProductInstall.swf";
		var flashvars = {
			'allowDomain':"{{weave_allowed_domain}}"
		};

		var params = {};
		params.quality = "high";
		params.bgcolor = "#7B96B6";
		params.allowscriptaccess = "always";
		params.allowfullscreen = "true";
		params.wmode = "transparent";
		params.base = "{{weave_root}}";
		var attributes = {};
		attributes.id = "weave";
		attributes.name = "weave";
		attributes.align = "middle";
		{%if editable and dh_refered%}
		swfobject.embedSWF("{{weave_root}}weave.swf", "flashContent",
				"100%", window.innerHeight-weaveToolsHeight, 
		{%else%}
		swfobject.embedSWF("{{weave_root}}weave.swf", "flashContent",
				"100%", window.innerHeight-fHeight, 
		{%endif%}
		swfVersionStr, xiSwfUrlStr, 
		flashvars, params, attributes);
		swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        function reloadPage(){
          location.reload();
        }

        </script>
    </head>
    <body>
	{%if ttl%}
		<h1 class="title">{{ttl}}</h1>
	{%endif%}
	<div id ="Content">
	<div id="flashContent">
		<div id="no-flash">

			<script type="text/javascript"> 
			function compareSessionStates(SessionState1, SessionState2){
				if(SessionState1.length != SessionState2.length){
					return false;
				}
				for(var i=0; i<SessionState2.length; i++){
					if(JSON.stringify(SessionState2[i]) != JSON.stringify(SessionState1[i])){
						return false;
					}
				}
				return true;

			}
			function message(){
			    alert("To view this page ensure that Adobe Flash Player version 10.2.0 or greater is installed.");
			    if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {}
			    else{
			        if(confirm("Do you want to link to install page?")){
			            this.document.location.href ='http://www.adobe.com/go/getflashplayer';
			        }
			    }
			}
			function getViz(){
		        var self = this;
		        var g = $GET(window.location.search);
		
		        if(g.hasOwnProperty('file')){
		            
			        if(g.file !== 'default.xml'){

				        return g.file;
			        }else{

				        return g.cc;
			        }
		        }
		        return 'default.xml'
	        }
			var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
			//document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
			//		+ pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>"
			
			if(swfobject.hasFlashPlayerVersion("10.2.0")){
                            //alert("You have the minimum required flash version (or newer)");          
                        }else{
                            document.body.innerHTML= "<a href='#'><img src='" + pageHost + "{{host}}/media/{{img}}' height='400' width='700' alt='Get Adobe Flash player' onclick='message();'/></a>"
                        }

			//document.write("<a href='#'><img src='" 
			//		+ pageHost + "{{host}}/media/weave_images/"+getViz().split(".")[0]+".png' height='400' width='700' alt='Get Adobe Flash player' onclick='message();'/></a>" ); 

		    	</script> 
		   </div>
        </div>
        
        <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="weave">
                <param name="movie" value="{{weave_root}}weave.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#7B96B6" />
                <param name="allowScriptAccess" value="sameDomain" />
		<param name="allowFullScreen" value="true" />
		<param name="wmode" value="transparent">
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="{{weave_root}}weave.swf" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#7B96B6" />
                    <param name="allowScriptAccess" value="sameDomain" />
		    <param name="allowFullScreen" value="true" />
		   <param name="wmode" value="transparent">

                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                    <p> 
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        10.2.0 or greater is not installed.
                    </p>
                <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
    </noscript>
    		{% if dh_refered and editable %}
		<div id="weave-tools">
			{% if authenticated %}
			<div id="weave-file-name"><b>Current Weave File:</b> <span class="notice">Unsaved</span></div>
			{%endif%}
			<div id="tools-wrap">
			{% if authenticated %}
			<div id="weave-help" class='first'>
				<h3><a href="#" id="weave-help-btn">Help</a></h3>
          		<a href="" class="weave-action-icon" title="Getting Started with Weave"><img src="/static/images/icons/icon_weave_help_2.png" alt="Getting Started with Weave"></a>
			</div>
			 <div id="load-weavefile">
          			<h3><a href="" class="cboxElement" style="display: inline;">Your WeaveFiles</a></h3>
          			<a href="" class="weave-action-icon cboxElement" title="Load Previously Saved WeaveFiles From your Portfolio" style="display: inline;"><img src="/static/images/icons/white_icon_load_weavefile.png" alt="Load Previously Saved WeaveFiles from your Portfolio"></a>
			</div>
			<div id="save-weavefile">
         			<h3><a href="" class="cboxElement" style="display: inline;">Save WeaveFile</a></h3>
         			 <a href="" class="weave-action-icon cboxElement" title="Save your work to a WeaveFile in your Portfolio" style="display: inline;"><img src="/static/images/icons/icon_save_weavefile.png" alt="Save your work to a WeaveFile in your Portfolio"></a>
			 </div>
		 	</div>
		 	
			{%else%}

			<div id="weave-help" class='single first anonuser'>
				<h3><a href="#" id="weave-help-btn">Help</a></h3>
          		<a href="" class="weave-action-icon" title="Getting Started with Weave"><img src="/static/images/icons/icon_weave_help_2.png" alt="Getting Started with Weave"></a>
			</div>
			{%endif%}
		</div>
		{%endif%}
		{%if editable%}
		{%else%}
		<div id="weave-share">
			<a class="weave-embed-link" href="#" target="">Embed This</a><br><br>
			<a class="weave-make-image-link" href="#" target="">Make Image</a>
		</div>
		{%endif%}
    </div>
	</body>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			$.ajaxSetup({ cache: false });
			$("#weave-help").click(function(e){
				e.preventDefault();
				try{
					window.parent.show_weave_help();
				}catch(e){
					return false;
				}

			});
			$("#load-weavefile").click(function(event){
				event.preventDefault();
				try{
					window.parent.launchWeaveFile();
				}catch(e){
					return false;
				}
					
			});
			$("#save-weavefile").click(function(event){
				event.preventDefault();
				try{
					window.parent.saveWeaveFile();
				}catch(e){
					return false;
				}
					
			});

			window.onhashchange = function(e){
				DHWEAVE.updatePageFromHash();
			}

			$("a.weave-action-icon").aToolTip();

			$("a.weave-embed-link").click(function(e){
				e.preventDefault();
				var eMcode = DHWEAVE.getEmbedCode();
				DHWEAVE.showEmbedCode(eMcode);
			});
			
			$("a.weave-make-image-link").click(function(e){
			    var data = weave.evaluateExpression(null, 'getBase64Image(Application.application.visDesktop)', null, ['weave.utils.BitmapUtils', 'mx.core.Application']);
			    if(data == null)
			        data = weave.evaluateExpression(['CompoundBarChartTool2'], 'getBase64Image(this)', null, ['weave.utils.BitmapUtils']);
			    if(data == null)
			        data = weave.evaluateExpression(['ScatterPlotTool'], 'getBase64Image(this)', null, ['weave.utils.BitmapUtils']);
			    if(data==null){
			        document.getElementById("Content").innerHTML = '<a href="javascript:void(0)" onclick="reloadPage();"><img src=dev.ridatahub.org/static/image/icons/remove.png alt="Red dot"></a>';
			    }
			    else{
                    data = "data:image/png;base64,"+data;
			        document.getElementById("Content").innerHTML = '<a href="javascript:void(0)" onclick="reloadPage();"><img src="'+data+'" alt="Red dot"></a>';
			    }
			});
			
		});
		
		
	</script>
</html>
