/* ---------- CSS Reset ---------- */

/*
  Based on Eric Meyer's CSS Reset code
  http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  background: transparent;
}

input, textarea, select, option {
  font-size: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}
#weave-tools{
	padding: 0px 15px;
	height: 75px;
	background-color: #a44499;
	position: relative;
	
}

#weave-tools #tools-wrap{
	width:938px;
	margin:5px auto 0px auto;
}

#weave-tools a {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	border-bottom: 0 none;
}

#weave-tools div {
	text-align:center;
	display:inline-block;
	margin-left:200px;
	position:relative;
}

#weave-tools div.first{margin:0px;}

#weave-tools div.single{position:absolute; left:0}


#weave-tools h3{margin:0px;font-weight:normal}

.weave-mbox {
	padding:10px 5px;;
	background-color: #a44499;
	color:#fff;
	width:200px;
	z-index:9999;
	position:relative;
}

.weave-mbox.left{
	padding-left:10px;
	text-align:left;
}

.weave-mbox.left h4{
	margin-bottom:10px;
}

.weave-mbox .close-btn{
	color:white;
	text-decoration:none;
	font-size:10px;
	position:absolute;
	right:5px;
	top:2px;
	font-family:Arial;
}

.weave-mbox textarea{
	min-width:400px;
	min-height:130px;
	padding:10px;
	color:#444;
	font-size:10px;
	border:none;

}

#weave-share{
	background:#e3e3e3;
	padding:2px;
	font-size:8px;
	position:absolute;
	top:0px;
	right:0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#weave-share a{
	color:#999;
	text-decoration:none;
}
